<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>DESIGN EXPAND BOUNDARIES</h1>
				<hr>
				<p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
		<br>
			<div class="row white">
				<h1 class="centered">KNOW ABOUT OUR OUTSTANDING SERVICES</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<!-- START SERVICE 1 -->
                    <div class="service-active">
                        <span class="service-trigger icon icon-link"><p>CONNECT</p></span>
                        <div class="service-content">
                            <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                        </div><!-- service-content -->
                    </div><!-- service-active -->
                    <!-- END SERVICE 1 -->				
				</div><!-- col-lg-4 -->

				<div class="col-lg-4">
					<!-- START SERVICE 2 -->
                    <div class="service-active">
                        <span class="service-trigger icon icon-pencil"><p>DESIGN</p></span>
                        <div class="service-content">
                            <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                        </div><!-- service-content -->
                    </div><!-- service-active -->
                    <!-- END SERVICE 2 -->				
				</div><!-- col-lg-4 -->
				
				<div class="col-lg-4">
					<!-- START SERVICE 3 -->
                    <div class="service-active">
                        <span class="service-trigger icon icon-rocket"><p>CREATE</p></span>
                        <div class="service-content">
                            <p>We start by digging into the client’s brand and business situation to build a bridge between the brand and the audience. By looking at the world through the eyes of our audience, we open ourselves up to new inspiration and opportunities for problem solving.</p>
                        </div><!-- service-content -->
                    </div><!-- service-active -->
                    <!-- END SERVICE 3 -->				
				</div><!-- col-lg-4 -->
			</div><!-- row -->
			<br>
			<br>
			<div class="row">
				<h2 class="centered">ONE BRAND, ONE VOICE.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s audience. Sometimes these two halves have very different viewpoints, creating a weak spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible aren’t viable.
					</p>
					<p>We squash weakness by designing the whole brand story. It’s crafted around the truism held by employees and consumers to create an experience that connects from the inside out.</p>
					<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
				</div><!-- col-lg -->
			</div><!-- row -->
			
			<div class="row">
				<h2 class="centered">MOBILE FIRST THINKING, ALWAYS.</h2>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<img class="img-responsive" src="{{ root_url }}/images/iphone.png" alt="">
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
  		

  				<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="{{ root_url }}/images/macbook.png" align="">
					</div>
					<div class="col-lg-4">
						<h2>We Are Hiring!</h2>
						<p>Do you want to be one of use? Sure you want, because we are an awesome team!. In DOT we work hard every day to craft pixel perfect sites.</p>
						<p><a class="btn btn-success">Contact Us</a></p>
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->


		<!-- ==== PORTFOLIO ==== -->
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">WE CREATE COOL STUFF</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">	
			
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio01.jpg" alt="">
							<figcaption>
								<h5>DASHBOARD</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				
						 <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
						      
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						          <h4 class="modal-title">Project Title</h4>
						        </div>
						        <div class="modal-body">
						          <p><img class="img-responsive" src="{{ root_url }}/images/folio01.jpg" alt=""></p>
						          <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
						          <p><b><a href="http://alvarez.is/demo/dot/#">Visit Site</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				
				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio02.jpg" alt="">
							<figcaption>
								<h5>UI DESIGN</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio03.jpg" alt="">
							<figcaption>
								<h5>ANDROID PAGE</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio04.jpg" alt="">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio05.jpg" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="{{ root_url }}/images/folio06.jpg" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 7 -->
				<div class="row">	
					<div class="col-md-4 ">
				    	<div class="grid mask">
							<figure>
								<img class="img-responsive" src="{{ root_url }}/images/folio07.jpg" alt="">
								<figcaption>
									<h5>NEW SITE</h5>
									<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
								</figcaption><!-- /figcaption -->
							</figure><!-- /figure -->
				    	</div><!-- /grid-mask -->
					</div><!-- /col -->

				<!-- PORTFOLIO IMAGE 8 -->
					<div class="col-md-4">
				    	<div class="grid mask">
							<figure>
								<img class="img-responsive" src="{{ root_url }}/images/folio08.jpg" alt="">
								<figcaption>
									<h5>FLAT UI</h5>
									<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
								</figcaption><!-- /figcaption -->
							</figure><!-- /figure -->
				    	</div><!-- /grid-mask -->
					</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 9 -->
					<div class="col-md-4">
				    	<div class="grid mask">
							<figure>
								<img class="img-responsive" src="{{ root_url }}/images/folio09.jpg" alt="">
								<figcaption>
									<h5>NAVIGATION</h5>
									<a data-toggle="modal" href="http://alvarez.is/demo/dot/#myModal" class="btn btn-primary btn-lg">Take a Look</a>
								</figcaption><!-- /figcaption -->
							</figure><!-- /figure -->
				    	</div><!-- /grid-mask -->
					</div><!-- /col -->
				</div><!-- /row -->
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

		<!-- ==== SECTION DIVIDER4 ==== -->
		<section class="section-divider textdivider divider4">
			<div class="container">
				<h1>DESIGN CREATES EMOTIONAL CONNECTION</h1>
				<hr>
				<p>There’s more to design than meets the eye. It’s when it meets the heart that design creates a meaningful, lasting connection with the audience.</p>
			</div><!-- container -->
		</section><!-- section -->