<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
	<header class="clearfix">
		 		<h1>Duke Makers</h1>
		 		<p>Duke's 3D Printing Club.</p>
		 		<p>Let's re-imagine Duke.</p>
		</header>	    
</div><!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT DUKE MAKERS</h1>
				<hr>
				
				<div class="col-lg-6">
					<p>Duke Makers is committed to bringing, developing, and incorporating 3D printing best practices and processes on campus wherever it can. It aspires to inspire all generations of Duke students with the next generation of manufacturing and product design. It seeks to work with people across Duke's disciplines (Mathematics, Engineering, Biology/Medical, and Visual Arts) to bring a better living and working experience to Duke's campus, to improve the lives of faculty, staff, and students, and to raise Duke's capability to reach and touch people's lives worldwide. Duke Makers is a student organization on campus. It will be comprised of three main parts:</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Engineers/Computer Scientists/Mathematicians who build/write/maintain software and hardware for the printers/accessories/websites, Visual Arts/Modellers who create/refine models for use by Duke students and others, and an Outreach/Faculty Relations/Student Gov relations/Admin relations group to ensure that 3D printing club will become/remain a core part of Duke life. It combines all enthusiasts, associated entrepreneurs, and interested students under one umbrella to give them both a voice and a means to advance the progress of 3D printing on campus</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>From Concept To Creation</h1>
				<hr>
				<p>We work across disciplines to enable students to realize their ideas</p>
			</div><!-- container -->
		</section><!-- section -->

		<!-- ==== TEAM MEMBERS ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="{{ root_url }}/images/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Negatu Asmamaw</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Negatu is a current junior studying Electrical and Computer Engineering. His interests include 3D printing, electrical engineering, and the environment. He hails from Ethiopia. Things he enjoys are music, and all things Ethiopian.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="{{ root_url }}/images/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Trey Bagley</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Trey is a current sophomore who's studying computer science. His interests include virtual reality, visualizations, animation, and CAD. He hails from Houston, TX. Things he enjoys include vast quantities of food, any music with a good beat, 3D printing, stargazing and anything by Joss Whedon.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="{{ root_url }}/images/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Ying Wang</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Ying is a current sophomore studying Electrical and Computer Engineering. His interests include 3D printing, robotics, and programming. He hails from Rochester, MI. In his spare time, he enjoys reading the news, reading philosophy, and catching up with friends.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="{{ root_url }}/images/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Fabio Berger</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Fabio is a current senior studying Computer Science. His interests include entrepreneurship, hacking and 3D printing half the things in his apartment. He hails from Basel, Switzerland but is a world trotter who has lived on 4 continents.</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER3 -->
		<section class="section-divider textdivider divider3">
			<div class="container">
				<h1>From Exposure To Expertise</h1>
				<hr>
				<p>Whether a beginner or a RepRap contributor, our mission is to empower everyone through 3D printing.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== BLOG ==== -->
		<div class="container" id="blog" name="blog">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">Follow Our Blog</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="{{ root_url }}/images/team04.jpg" width="60px" height="60px"></p>
						<h4>Fabio Berger</h4>
						<h5>Published Dec 30.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>The Makerbot Love Affair</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
				
				<div class="col-lg-6 blog-bg">
					<div class="col-lg-4 centered">
					<br>
						<p><img class="img img-circle" src="{{ root_url }}/images/team03.jpg" width="60px" height="60px"></p>
						<h4>Ying Wang</h4>
						<h5>Published Dec 28.</h5>
					</div>
					<div class="col-lg-8 blog-content">
						<h2>Tips on using Blender 3D</h2>
						<p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
						<p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
						<p><a href="#" class="icon icon-link"> Read More</a></p>
						<br>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /container -->
		
		